@import "~normalize.css";
@import "~bootstrap/scss/bootstrap";

*, *::after, *::before {
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.link {
    margin: 0 20px;
}
